.TripSearchPanel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;

  > div {
    flex: 0 0 auto;

    &:first-child {
      flex: 1 0 auto;
      justify-self: flex-start;
      padding-right: 50px;
    }

    &:last-child {
      flex: 1 1 auto;
      max-width: 300px;
    }
  }
}

.TripListUserFilter {
  width: 150px;
}

.TripListDateFilter {
  margin-right: 1em;
  width: 130px;
}

.TripRangePicker {
  width: 100%;
}
