.UserList {
  /* stylelint-disable */
  .ant-list-item-content {
    @media (max-width: 575.98px) {
      flex: 0 1;
    }
  }
}

.UserSearchPanel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;

  > div {
    flex: 1 1 auto;
    max-width: 500px;
  }
}

.ActionIcon {
  cursor: pointer;
  font-size: 1.3em;
  line-height: 1.3em;

  i {
    color: hsl(0, 0%, 50%);
    padding: 5px;
    vertical-align: middle;
  }
}
