{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "retainLines": true
    },
    "dev": {
      "retainLines": true
    }
  },
  "sourceMaps": true
}
