{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "no-use-before-define": [2, { "functions": false }],
    "prefer-const": "warn",
    "no-plusplus": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off",
    "linebreak-style": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "class-methods-use-this": "off"
  }
}
